{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <form method="POST">
            <div class="form-row"> 
                <div class="form-group col-md-6">
                    <label for="employeeId">Employee ID</label>
                    <input type="text" class="form-control" name="employeeId" required>
                </div>
                 <div class="form-group col-md-6">
                    <label for="jobRole">Role selection</label>
                    <select class="form-control" name="jobRole" required>
                        <option selected>Choose...</option>
                        <option>Doctor</option>
                        <option>Nurse</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password" class="form-control" name="confirmPassword" required>
                </div>
            </div> 
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="secondName">Second Name</label>
                <input type="text" class="form-control" name="secondName" required>
            </div>
            <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <input type="text" class="form-control" name="contactNumber" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="contactNumber">Room</label>
                    <input type="text" class="form-control" name="room" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="contactNumber">Ward</label>
                    <input type="text" class="form-control" name="ward" required>
                </div>
            <div>
            <button type="submit", class="btn btn-primary">Submit</button>
        </form>
    <div>
{% endblock %}